@font-face {
  font-family: 'SFToontimeBold';
  src: url('SF_Toontime_Bold-webfont.eot');
  src: url('SF_Toontime_Bold-webfont.eot?iefix') format('eot'),
    url('SF_Toontime_Bold-webfont.woff') format('woff'),
    url('SF_Toontime_Bold-webfont.ttf') format('truetype'),
    url('SF_Toontime_Bold-webfont.svg#webfontE1Z3ANYY') format('svg');
  font-weight: normal;
  font-style: normal;
}

.drupalcamp_colorado_yeti_block {
}

  .drupalcamp_colorado_yeti_block .logo {
    width: 204px;
    height: 0px;
    padding-top: 54px;
    overflow: hidden;
    background-image: url('../images/logo.png');
  }
  
  .drupalcamp_colorado_yeti_block .yeti {
    width: 220px;
    height: 226px;
    background-image: url('../images/yeti.png');
    text-align: center;
  }

    .drupalcamp_colorado_yeti_block .yeti .date {
      padding-top: 26px;
      font: 32px 'SFToontimeBold', Arial, sans-serif;
      color: #D73E00;
      transform: rotate(-7.1deg);
      -webkit-transform: rotate(-7.1deg); 
      -moz-transform: rotate(-7.1deg); 
      -o-transform: rotate(-7.1deg);
      -ms-transform: rotate(-7.1deg);
      filter: progid:DXImageTransform.Microsoft.Matrix(
        M11=0.9923319378854887, 
        M12=0.1236014767404927, 
        M21=-0.1236014767404927, 
        M22=0.9923319378854887, 
        sizingMethod='auto expand'
      );
      zoom: 1;
    }
      .drupalcamp_colorado_yeti_block .yeti .date a {
        text-decoration: none;
        color: #D73E00;
      }
